<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>Burgers</p>
        {{#each burger}}
        {{#unless devoured}}
        <p>{{burger.name}}</p>
        {{/unless}}
        {{/each}}
    </div>
    <div class="col">
        <p>Burger devoured</p>
          {{#each burger}}
        {{#if devoured}}
        <p>{{burger.name}}</p>
        {{/if}}
        {{/each}}
    </div>

</div>

<div class="row">
    <div class="col">
        <form>
            <input type+"text" id="burgername">
            <button id="createburger">Create new burger</button>
        </form>
    </div>
</div>